<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C633B981ED0299A00EA83B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C633BB11ED0299A00EA83B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C633BBC1ED0299A00EA83B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
